@*@{
        ViewData["Title"] = "Example app";
    }
    <a class="twitter-link" href="http://twitter.com/home/?status=I just hosted a website on AWS!"><img src="img/tweet.svg" /></a>
    <div class="text">
        <h1>Congratulations!</h1>
        <h2>@ViewData["Message"]</h2>
    </div>*@

@{
    ViewData["Title"] = "WJB Games Project";
}



<div id="gamecontent" class="container felt">
    <div class="text-center">
        <h1 class="display-4">Play Poker!</h1>
        <p>Single-Player, Dealer's Choice, Multi-game poker table.</p>
    </div>
    @{
        Table _table = new Table();

        Game _game = new Game(_table);
        _game.GameDeck.Shuffle();
        _game.PreFlop();
        _game.TheFlop();
        _game.TheTurn();
        _game.TheRiver();
        _game.Showdown();
    }
    <h3>@_game.GameName</h3>
    <hr style="border-top:5px solid goldenrod;">
    <h2 class="display-5">Community cards</h2>
    <div class="container-lg">
        <div class="row">
            <div class="col-lg-3 offset-lg-5 align-self-lg-center">
                <div class="community">
                    @foreach (Card card in _game.GameTable.CommunityCards.OrderBy(x => (int)x.CardRank).Reverse())
                    {
                        <div id="gamecard" class="card gamecard">
                            <div class="@((card.Suit.Equals(Card.CardSuitValue.Clubs)||card.Suit.Equals(Card.CardSuitValue.Spades)) ? "clubsspades" : "heartsdiamonds")">
                                @card.RankSym
                                <br />
                                @card.DisplaySuitSym
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <hr style="border-top:2px solid goldenrod;">
    <h2 class="display-5">Player List</h2>
    <div class="container-lg">
        <div class="row h-100">
            @for (int i = 0; i < _game.GamePlayers.Count(); i++)
            {
                string pName = _game.GamePlayers[i].PlayerName;
                string playerLabel;
                switch (i)
                {
                    case 0:
                        playerLabel = "(You)";
                        break;
                    default:
                        playerLabel = "(Player " + i.ToString() + ")";
                        break;
                }
                <div class="col">
                    <div class="@((_game.GamePlayers[i].IsDealer) ? "dealer" : "")">
                        <h4>@pName </h4>
                        <h5>@playerLabel</h5>
                    </div>
                    <div class="row cardrow">
                        <div class="col">
                            @{
                                string suitstyle = "";
                                string offsetcard = "";

                                List<Card> card = _game.GamePlayers[i]._hand._cardsInHand.OrderBy(x => (int)x.CardRank).Reverse().ToList();

                                for (int j = 0; j < card.Count; j++)
                                {
                                    suitstyle = (card[j].Suit.Equals(Card.CardSuitValue.Clubs) || card[j].Suit.Equals(Card.CardSuitValue.Spades)) ? "clubsspades" : "heartsdiamonds";
                                    if (j == 1) offsetcard = "cardoffset";

                                    <div id="gamecard" class="card gamecard @suitstyle @offsetcard">
                                        @card[j].RankSym
                                        <br />
                                        @card[j].DisplaySuitSym
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <hr style="margin-top:.5rem; ">
                    <div class="row align-items-end">
                        <div class="col-xl @((_game.GamePlayers[i].IsWinner) ? "winner" : "")">
                            <h6>Rank:</h6>
                            <p>@_game.GamePlayers[i]._hand._handRank.ToString()</p>
                            <h6>Rank Number:</h6>
                            <p>@_game.GamePlayers[i]._hand._handScore.ToString()</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

